<!DOCTYPE html>
<head>
    <style>
        #markdown h1,h2,h3,h4,h5,h6{
            padding-bottom: 0.3em;
            padding-top: 0.3em;
        }
        #markdown h1,h2,h3{
            border-bottom: 1px solid #bcbcbc;
        }
        #markdown *{
            margin: 10px auto;
        }
    </style>
</head>
<html lang="zh_tw"><!--這裏的lang可以控制字體的，相對來説重要一些-->
    <%- include('partials/head') %>
    <body><!--class="center_PG"的意思是讓這個頁面居中對齊，否則自己用display設定版面（可選）-->
            <%- include('partials/MTF') %>
            <main class="main">
                <%- include('partials/header') %>
<!-- 李老師馬里奧 -->
                <iframe src="https://scratch.mit.edu/projects/1168404675/embed" style="border-radius: 20px;"
allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

<!-- Discord -->
<iframe src="https://discord.com/widget?id=1316337715721011322&theme=dark" width="485" height="402"
allowtransparency="true" frameborder="0" 
style="border-radius: 20px;"
sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

<!--Spotify -->
<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4BlFSWHmAm3nCpTtLaqSfS?utm_source=generator"
 height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                
            </main>
            <%- include('partials/footer') %>
        <%- include('partials/footer_JS') %>
    </body>
</html>