<!DOCTYPE html>
<html lang="zh_tw">
    <%- include('partials/head') %>
    <head>
        <link rel="stylesheet" href="css/index.css"/><!--主页特有（喜-->
    </head>
    <body>
        <%- include('partials/MTF') %>
        
        <div class="title-Placeholder"></div><!--占位-->
        <div class="main-title">
            <div class="title"><!--Title-->
                <img class="indexIcon" width="100px" style="border-radius: 50%; margin: 0 25px;" 
                    src="https://avatars.githubusercontent.com/u/177436503?v=4"/>
                <div id="IndexTitle" style="opacity: 0;">TRANS UNION</div><!--這裏本質上是看不見的，實際上爲了動畫，這些文字在下一行的id="output"顯示-->
                <div id="outPut"></div><!--標題顯示-->
            </div>
            <div class="main_2"><!--副标题-->
                <% if (randomH2Html) { %>
                    <%- randomH2Html %>
                <% } %>
            </div>

            <%- include('partials/index-link') %>
        </div>





            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Right>查看文章和最新資訊</div>
            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Right><%- renderMarkdown('selfIntroduction') %></div>
            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Right><%- renderMarkdown('projecting') -%></div>
            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Left><%- renderMarkdown('socialMediaAccounts') %></div>
        </div>
        
        <%- include('partials/footer') %>
        <%- include('partials/footer_JS') %>
    </body>
</html>