<!DOCTYPE html>
<html lang="zh_tw">
    <%- include('partials/head') %>
    <head>
        <link rel="stylesheet" href="css/index.css"/><!--主页特有（喜-->
    </head>
    <body>
        <%- include('partials/MTF') %>
        
        <div class="title-Placeholder"></div><!--占位-->
        <div class="main-title">
            <div class="title"><!--Title-->
                <img class="indexIcon" width="100px" style="border-radius: 50%; margin: 0 25px;" 
                    src="https://avatars.githubusercontent.com/u/177436503?v=4"/>
                <div id="IndexTitle" style="opacity: 0;">歡迎來到星野榮治的個人網站</div><!--這裏本質上是看不見的，實際上爲了動畫，這些文字在下一行的id="output"顯示-->
                <div id="outPut"></div><!--標題顯示-->
            </div>
            <div class="main_2"><!--副标题-->
                
            </div>

            
        </div>







        <div class="Text-content">
            <section class="tag">
                <a class="button" href="/port-list">全部</a>
                <% const keys = Object.keys(AllTags); %>
                <% keys.forEach(function(id) { %>
                    <% const name = AllTags[id]; %>
                    <a class="button" href="/port-list?tag=<%- id %>">#<%- name %></a>
                <% }) %>
            </section>
            <section class="list">
                <% if (SavedTags.length > 0){%>
                    <% SavedTags.forEach(Prot =>{%>
                        <a class="list_li DivStyle-Glass" href="/port/<%= Prot.filename %>">
                            <h2><%= Prot.title %></h2>
                            <p>作者：<%= Prot.author%></p>
                            <p>創稿日期：<%= Prot.CreationDate%></p>
                            <p>語言：<%= Prot.Language%></p>
                            <p>
                                <% if (Prot.tagid && Prot.tagid.length > 0) { %>
                                    <% Prot.tagid.forEach(id => { %>
                                        <span class="tag-label">#<%= AllTags[id] %> </span>
                                    <% }) %>
                                <% } else { %>
                                    #無標籤
                                <% } %>
                            </p>
                        </a>
                    <%})%>
                <%} else {%>
                    <h3>暫時還沒有文章喵~</h3>
                    <p>看點別的？</p>
                    <a href="https://github.com/HosinoEJ"></a>
                <%}%>
            </section>






            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Right><%- renderMarkdown('selfIntroduction') %></div>
            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Right><%- renderMarkdown('projecting') -%></div>
            <div id="markdown" class="DivStyle-Glass" data-animate-on-scroll-Left><%- renderMarkdown('socialMediaAccounts') %></div>
        </div>
        
        <%- include('partials/footer') %>
        <%- include('partials/footer_JS') %>
    </body>
</html>