<!DOCTYPE html>
<head>
    <style>
        #markdown h1,h2,h3,h4,h5,h6{
            padding-bottom: 0.3em;
            padding-top: 0.3em;
        }
        #markdown h1,h2,h3{
            border-bottom: 1px solid #bcbcbc;
        }
        #markdown *{
            margin: 10px auto;
        }
    </style>
</head>
<html lang="zh_tw"><!--這裏的lang可以控制字體的，相對來説重要一些-->
    <%- include('partials/head') %>
    <body><!--class="center_PG"的意思是讓這個頁面居中對齊，否則自己用display設定版面（可選）-->
        <% reports.forEach(report => { %>
            <%- include('partials/MTF') %>
            <main class="main">
                <%- include('partials/header') %>
                <div class="DivStyle-Glass port" id="markdown">
                    <%- report.html %>
                </div>
            </main>
            <%- include('partials/footer') %>
        <% }) %>
        <%- include('partials/footer_JS') %>
    </body>
</html>